.image-20 {
    width: 20px;
}
.edit-button {
    border: none;
    background: none;
}
.edit-button:hover {
    border:none;
}
.font-size-12 {
    font-size: 12px;
}
.fc-widget-content, .fc-button {
    font-size: 14px!important;
}
.fc-header-toolbar h2{
    font-size: 12px!important;
}